@import "../../style/var&colors.scss";
.catagoryBox:hover {
  box-shadow: 0px 0px 16px 3px $box-shadow;
}
.catagoryBox {
  min-width: 200px;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
  transition: 0.5s;
  h3 {
    padding: 1em;
  }
  a {
    img {
      padding: 1em;
      width: 100%;
      height: 90%;
      object-fit: cover;
    }

    button {
      margin: 1em;
      @include button;
      font-weight: bold;
      font-size: calc(0.5em + 1vw);
    }
    button:hover {
      @include buttonHover;
    }
  }
}
