@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Poppins:wght@300&display=swap");
.catagory-page {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  position: relative;
  padding-top: 5%;
}

.catagory-page .close {
  background: none;
  border: none;
  color: #137547;
  cursor: pointer;
  font-size: calc(1em + 1vw);
  font-weight: 600;
  position: absolute;
  right: 1em;
  top: 0.1em;
}

.catagory-page .productsCard {
  padding: 1em;
  width: 100%;
  border-radius: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  gap: 1em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.catagory-page .productsCard .card-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.2em 0em;
}

.catagory-page .productsCard ul {
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  gap: 1em;
  width: 100%;
  height: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catagory-page .productsCard li:hover {
  -webkit-box-shadow: -1px 1px 9px 0px #121312d4;
          box-shadow: -1px 1px 9px 0px #121312d4;
}

.catagory-page .productsCard li {
  border-radius: 0.2em;
  list-style: none;
  background-color: #fff;
  width: 20em;
  height: 20em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.catagory-page .productsCard li img {
  -o-object-fit: scale-down;
     object-fit: scale-down;
  width: 100%;
  height: 75%;
}

.catagory-page .productsCard li .product-info {
  width: 100%;
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.5em;
  color: #000;
  padding: 0.5em;
  font-weight: 500;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.catagory-page .productsCard li .product-info button {
  background: none;
  border: none;
  color: #137547;
  cursor: pointer;
}

.catagory-page .product-page {
  background: #DAF0FB;
  width: 100%;
  min-height: 100%;
  position: absolute;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  top: 0px;
}

.catagory-page .product-page button {
  background: none;
  border: none;
  color: #137547;
  cursor: pointer;
}

.catagory-page .product-page .close {
  position: absolute;
  top: 1.5em;
  right: 1em;
  font-size: calc(1em + 1vw);
  font-weight: 600;
}

.catagory-page .product-page .product {
  width: 86%;
  height: 80%;
  background: #fff;
  gap: 1em;
  padding: 2em;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 1em;
  -webkit-box-shadow: 0px 1px 7px 0px #121312d4;
          box-shadow: 0px 1px 7px 0px #121312d4;
}

.catagory-page .product-page .product .image-box {
  width: 50%;
  height: 100%;
}

.catagory-page .product-page .product .image-box .title {
  letter-spacing: 2px;
  text-align: center;
}

.catagory-page .product-page .product .image-box .product-image {
  width: 100%;
  height: 90%;
}

.catagory-page .product-page .product .image-box .product-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.catagory-page .product-page .product .description {
  display: -ms-grid;
  display: grid;
  background-color: #fff;
  height: 100%;
  width: 50%;
  padding: 1.5em;
  border-left: 0.3em dashed #A7D49B;
}

.catagory-page .product-page .product .description .product-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-item-align: end;
      align-self: end;
}

.catagory-page .product-page .product .description .product-info li,
.catagory-page .product-page .product .description .product-info button {
  color: #137547;
  list-style: none;
  font-size: calc(.3em + 1vw);
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.catagory-page .product-page .product .add-to-cart {
  width: 100%;
  height: 3.5em;
  font-size: calc(.5em + 1vw);
  background-color: #137547;
  border-radius: 0.3em;
  padding: 0.3em;
  color: #DAF0FB;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  font-weight: 600;
  letter-spacing: 2px;
  -ms-flex-item-align: end;
      align-self: end;
}

.catagory-page .product-page .product .add-to-cart:hover {
  color: #090B0B;
  background-color: #A7D49B;
  scale: 1.2em;
}

.catagory-page .product-page .product .add-to-cart:active {
  color: #da2f35;
  background-color: #A7D49B;
  letter-spacing: 3px;
}
/*# sourceMappingURL=products.css.map */