@import "../../style/var&colors.scss";
.menu-container {
  width: 20%;
  height: 100%;
  top: 3em;
  position: fixed;
  right: 0;
  z-index: 1;
  background-color: $headers;
  color: $background;
  transition: 0.3s;
  .close {
    @include close-btn;
    background: none;
  }
  .close:hover {
    @include close-btn-hover;
  }

  .menu-items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    padding: 2em;
    justify-content: center;
    align-content: flex-start;
    width: 100%;
    height: 100%;
    padding: 0.5em;
    color: #fff;
    font-size: $MFont;
    li {
      @include glassEffect;
      width: 90%;
      list-style: none;
      transition: 0.3s;
      height: 100%;
      padding: 0.5em;
      border-radius: 0.5em;
      color: $text;
      font-weight: 600;
      button {
        @include button;
        color: #fff;
        font-size: $MFont;
      }
      button.theme {
        transition: 0.5s;
        text-align: center;
        width: 100%;
        background: none !important;
        color: $text;

      }
      button.theme.night {
        color: $Dtext;
        background: none;
      }
      button.theme.day {
        color: $text;
           background: none;
      }
    }
    li:hover {
      scale: 1.05;
    }
  }
}
.menu-container.night{
    background: $Dheaders;
    color: $DButton;
    button{
      color: $DButton;
    }
  
}
@media only screen and(max-width:900px) {
  .menu-container {
    width: 100%;
    height: 100%;
    .menu-items {
      width: 100%;
      align-content: center;
      justify-items: center;
      li {
        height: 5em;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: $LFont;
        .theme {
          font-size: $LFont;
          text-align: center;
        }
      }
      li:hover {
        scale: 1.05;
      }
    }
  }
}

