@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Poppins:wght@300&display=swap");
.menu-container {
  width: 20%;
  height: 100%;
  top: 3em;
  position: fixed;
  right: 0;
  z-index: 1;
  background-color: #326EAE;
  color: #DAF0FB;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu-container .close {
  background: none;
  border: none;
  color: #137547;
  cursor: pointer;
  color: #fff;
  background-color: #326EAE;
  position: absolute;
  top: 1em;
  right: 1em;
  border-radius: 0.2em;
  width: 2em;
  font-weight: 600;
  font-size: calc(1em + 1vw);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: none;
}

.menu-container .close:hover {
  color: red;
  scale: 1.5;
}

.menu-container .menu-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 1em;
  padding: 2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  width: 100%;
  height: 100%;
  padding: 0.5em;
  color: #fff;
  font-size: calc(.5em + 1vw);
}

.menu-container .menu-items li {
  /* From https://css.glass */
  background: rgba(138, 136, 136, 0.13);
  border-radius: 16px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.4px);
  -webkit-backdrop-filter: blur(4.4px);
  border: 1px solid rgba(138, 136, 136, 0.12);
  width: 90%;
  list-style: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 100%;
  padding: 0.5em;
  border-radius: 0.5em;
  color: #090B0B;
  font-weight: 600;
}

.menu-container .menu-items li button {
  background: none;
  border: none;
  color: #137547;
  cursor: pointer;
  color: #fff;
  font-size: calc(.5em + 1vw);
}

.menu-container .menu-items li button.theme {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-align: center;
  width: 100%;
  background: none !important;
  color: #090B0B;
}

.menu-container .menu-items li button.theme.night {
  color: #e3e6e6;
  background: none;
}

.menu-container .menu-items li button.theme.day {
  color: #090B0B;
  background: none;
}

.menu-container .menu-items li:hover {
  scale: 1.05;
}

.menu-container.night {
  background: #f1f1fe;
  color: #7D6799;
}

.menu-container.night button {
  color: #7D6799;
}

@media only screen and (max-width: 900px) {
  .menu-container {
    width: 100%;
    height: 100%;
  }
  .menu-container .menu-items {
    width: 100%;
    -ms-flex-line-pack: center;
        align-content: center;
    justify-items: center;
  }
  .menu-container .menu-items li {
    height: 5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: calc(1em + 1vw);
  }
  .menu-container .menu-items li .theme {
    font-size: calc(1em + 1vw);
    text-align: center;
  }
  .menu-container .menu-items li:hover {
    scale: 1.05;
  }
}
/*# sourceMappingURL=menu.css.map */