@import "../../style/var&colors.scss";
.catagory-page {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  position: relative;
  padding-top: 5%;
  a {
    .close {
      @include button;
      font-size: $LFont;
      font-weight: 600;
      position: absolute;
      right: 1em;
      top: 0.1em;
    }
  }
  .loading,
  .error {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $LFont;
    color: $Button;
  }
  .productsCard {
    padding: 1em;
    width: 100%;
    border-radius: 1em;
    display: flex;
    justify-content: space-between;
    position: relative;
    gap: 1em;
    flex-direction: column;
    .card-header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0.2em 0em;
    }
    ul {
      padding: 0;
      display: grid;
      grid-template-columns: auto auto auto;
      gap: 1em;
      width: 100%;
      height: 80%;
      align-items: center;
    }
    li:hover {
      box-shadow: -1px 1px 9px 0px $box-shadow;
    }
    li {
      border-radius: 0.2em;
      list-style: none;
      background-color: #fff;
      width: 20em;
      height: 20em;
      display: flex;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      flex-direction: column;
      align-items: end;
      justify-content: space-between;
      transition: 0.3s;
      img {
        object-fit: scale-down;
        width: 100%;
        height: 75%;
      }

      .product-info {
        width: 100%;
        height: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 0.5em;
        color: #000;
        padding: 0.5em;
        font-weight: 500;
        transition: 0.5s;
        button {
          @include button;
        }
      }
    }
  }
  .product-page {
    background: $background;
    grid-template-rows: 5% 90%;
    width: 100%;
    min-height: 100%;
    position: absolute;
    display: grid;
    align-content: center;
    justify-items: center;
    top: 0px;

    button {
      @include button;
    }
    a {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .close {
       position: relative !important ;
        font-size: $LFont;
        font-weight: 600;
      }
    }
    .product {
      position: relative;
      top: 1em;
      width: 86%;
      height: 30em;
      background: #fff;
      gap: 1em;
      padding: 2em;
      align-items: center;
      display: flex;
      justify-content: space-between;
      border-radius: 1em;
      box-shadow: 0px 1px 7px 0px $box-shadow;
      .image-box {
        width: 50%;
        height: 100%;
        overflow: auto;
        .title {
          letter-spacing: 2px;
          text-align: center;
        }
        .product-image {
          width: 100%;
          height: 27em;

          img {
            width: 100%;
            height: 100%;
            object-fit: scale-down;
          }
        }
      }
      .description {
        display: grid;
        background-color: #fff;
        height: 100%;
        width: 50%;
        padding: 1.5em;
        border-left: 0.3em dashed $lightButton;
        .product-info {
          display: flex;
          gap: 1em;
          justify-content: space-evenly;
          align-items: baseline;
          align-self: end;

          li,
          button {
            color: $Button;
            list-style: none;
            font-size: $SFont;
            font-weight: 600;
            display: flex;
            gap: 1em;
            justify-content: space-between;
            align-items: baseline;
          }
        }
      }
      .add-to-cart {
        width: 100%;
        height: 3.5em;
        font-size: $MFont;
        background-color: $Button;
        border-radius: 0.3em;
        padding: 0.3em;
        color: $background;
        transition: 0.3s;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1em;
        font-weight: 600;
        letter-spacing: 2px;
        align-self: end;
      }
      .add-to-cart:hover {
        color: $text;
        background-color: $lightButton;
        scale: 1.2em;
      }
      .add-to-cart:active {
        color: $alert;
        background-color: $lightButton;
        letter-spacing: 3px;
      }
    }
  }
}

@media only screen and (max-width: 1000px) and (min-width: 660px) {
  .catagory-page {
    .productsCard {
      ul {
        grid-template-columns: 45% 45%;
      }
    }
  }
}
@media only screen and (max-width: 640px) {
  .catagory-page {
    .productsCard {
      ul {
        justify-items: center;
        grid-template-columns: 1fr;

        li {
          width: 100%;
        }
      }
    }
    .product-page {
      grid-template-rows: 5% 90%;
      .product {
        top: 0;
        left: 0;
        width: 99%;
        height: 100%;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr;
        box-shadow: inset 0px 0px 4px 3px #00000057;
        .image-box,
        .description {
          width: 100%;
        }
        .description {
          border-top: 0.3em dashed $lightButton;
          border-left: none;
        }
      }
    }
  }
}
