@import "var&colors.scss";
.hide {
  display: none !important;
}
.show {
  display: contents;
}
*{
  box-sizing: border-box;
}
.App.night{
  @include darkTheme;
}
.App {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  background: $background;
  display: grid;
  grid-auto-columns:auto;
  justify-items: center;
  color: $text;
  font-family: "Merriweather Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  position: relative;
 
  .cardsBox{
    overflow: hidden;
    width: 75%;
    height: 100%;
    margin: 1em 0em;
    padding: 1em;
  }

  
}
@media only screen and(max-width:900px){
  .App{
    .header{
      .nav-bar{
        button , a{
          font-size: $LFont;
        }
      }
    }
    .cardsBox{
      padding: 3em;
    }
    .footer {
      .footerContent{
        ul{
          grid-template-columns: 1fr 1fr;
          justify-items: normal;
        }
      }
    } 
  }

 
}