.slider {
  height: 100%;
  width: 100%;
  padding: 1em;
}
.full-img {
  height:18em;
  padding: 1em;
  background-color: #fff;
}
.full-img img {
  height: 100%;
  width: 100%;
  object-fit: scale-down;
}

.thumb {
  padding-top: 1em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 20%;
  width: 100%;
  overflow: auto;
}

.thumb img {
  height: 100%;
  width: 20%;
  object-fit: cover;
  border: none;
  margin-right: 0.5em;
  opacity: 0.5;
  cursor: pointer;
  border-radius: 0.2em;
}

.thumb img:hover {
  opacity: 1;
  cursor: pointer;
}

.thumb .selected {
  opacity: 1;
  border-bottom: 3px solid #e60012;
  cursor: pointer;
}
